# http://EditorConfig.org
[*]
end_of_line = lf
insert_final_newline = true

[README.md]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true

[pom.xml]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.{jsp,tag}]
end_of_line = lf
insert_final_newline = true
# Only because they already mostly use tabs
indent_style = tab
