/bin/
/target/
src/main/resources/cudl-global.properties
/src/main/webapp/models/
/.classpath
/.project
FoundationsViewer.ipr
FoundationsViewer.iws

# IntelliJ
.idea
*.iml

# Maven release plugin
*.releaseBackup
release.properties

# docker-compose local environment file
.env

.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
