[submodule "docker/db/snapshots"]
	path = docker/db/snapshots
	url = git@bitbucket.org:CUDL/snapshots.git
[submodule "docker/db/dl-data-samples"]
	path = docker/db/dl-data-samples
	url = git@github.com:cambridge-collection/dl-data-samples.git
