[submodule "docker/db/dl-data-samples-http"]
	path = docker/db/dl-data-samples-http
	url = https://github.com/cambridge-collection/dl-data-samples.git
[submodule "cudl-viewer-ui"]
	path = cudl-viewer-ui
	url = https://github.com/cambridge-collection/cudl-viewer-ui.git
	branch = feature/parent-pom
