.searchTermHighlight {
	font-weight : italic;
}

#searchControls {
	border : 1px solid;
	background-color : light-grey;
	margin : 5px;
}

#searchForm * {
	border : 0px none;
	padding : 5px;
	layout : block;
}

#searchForm input {
	border : 1px solid grey;
}

div.fragmentDetails {
	border : 1px solid grey;
	padding : 5px;
	background-color : light-gray;
}

div.fragmentLabel {
	font-weight : bold;
}

div.dataTables_filter {
	background-color: light-gray;
}

dl {
    margin-bottom:50px;
}
 
dl dt {
    background:#5f9be3;
    color:#fff;
    float:left;
    font-weight:bold;
    margin-right:10px;
    padding:5px; 
    width:100px;
}
 
dl dd {
    margin:2px 0;
    padding:5px 0;
}