/* setup different colour header */


#localMasthead {
    background: url("/images/bibliographies/genizahbibbanner.jpg") repeat-x scroll 50% 0 transparent;
    height:90px;
    margin-top: 0px;
    
}
#localMasthead h1, #localMasthead h1 a {
    color: #fff;
    margin-left:8px;
    display: inline-block;
    margin-top:10px;
}
#localMasthead h2, #localMasthead h2 a {
    color: #eee;
    margin-left:8px;
}

/* end of header */
/* footer */

#footer a:link, a:visited, a:active {
    color: #fff;
    text-decoration: underline;
}

/* end of footer */

div.dataTables_filter {
	background-color: rgb(180, 180, 180);
}

div.dataTables_filter input {
	background-color: rgb(100, 100, 100);
}

div#referenceTable_length {
	padding : 2px;
	border : 1px solid black;
	font-weight : bold;
}

/*
div#referenceTable_length select {
	color : white;
}
*/

div.dataTables_info {
	padding : 2px;
}

div.dataTables_paginate {
	padding : 2px;
}

div.dataTables_wrapper {
	background-color: rgb(200, 200, 200);
	border : solid 1px black;
	color : rgb(0, 0, 0);
	margin-top : 10px;
	margin-bottom : 10px;
}

.searchTermHighlight {
	font-weight : italic;
}

div.fragmentDetails, div.bibEntryDetails {
	border : 1px solid grey;
	padding : 5px;
	background-color : light-gray;
}

div.fragmentLabel {
	font-weight : bold;
}

div.dataTables_filter {
	background-color: light-gray;
}

dl {
    margin: 5px;
}
 
dl dt {
    background:#444444;
    color:#fff;
    float:left;
    font-weight:bold;
    margin-right:10px;
    padding:5px; 
    width:100px;
}
 
dl dd {
    margin:2px 0;
    padding:5px 0;
}

/* search */
.search #search {
	background: none repeat scroll 0 0 white;
	color: #666666;
	font-family: Georgia, 'Times New Roman', serif;
	font-size: 13px;
	font-style: italic;
	padding: 5px 5px;
	position: absolute;
	top: 5px;
	right: 4px;
	width: 230px;
	z-index: 2;
}

.search #submit {
	background: url("../img/sprite.png") no-repeat scroll -768px -17px
		transparent;
	cursor: pointer;
	display: inline-block;
	height: 16px;
	overflow: hidden;
	position: absolute;
	right: 10px;
	text-indent: -9999px;
	top: 9px;
	width: 16px;
	z-index: 3;
}

.search input {
	margin-right: 2px;
}

/* Search box */
.searchform form {
	margin-left: auto;
	margin-right: auto;
	height: 75px;
	position: relative;
}

/* search on search results page */
.searchform .search {
	background: none repeat scroll 0 0 white;
	color: #666666;
	font-family: Georgia, 'Times New Roman', serif;
	font-size: 13px;
	font-style: italic;
	padding: 5px 5px;
	position: absolute;
	top: 0px;
	width: 230px;
	z-index: 2;
	border-style: solid;
	border-width: 1px;
	border-color: #999;
	font-weight: bold;
}

/* search style text - for examples on search results page */
.searchexample .search {
	background: none repeat scroll 0 0 white;
	color: #666666;
	font-family: Georgia, 'Times New Roman', serif;
	font-size: 13px;
	font-style: italic;
	padding: 3px 3px;
	border-style: solid;
	border-width: 1px;
	border-color: #ccc;
	font-weight: bold;
}

.searchexample {
	line-height: 25px;
}

.searchform #submit {
	background: url("../img/sprite.png") no-repeat scroll -768px -17px
		transparent;
	cursor: pointer;
	display: inline-block;
	height: 16px;
	overflow: hidden;
	position: absolute;
	right: -10px;
	text-indent: -9999px;
	top: 5px;
	width: 16px;
	z-index: 3;
}