/*
Plugin Name: WP-Digg Style Paginator
Plugin URI: http://www.mis-algoritmos.com/2007/09/09/wp-digg-style-pagination-plugin-v-10/
Author: Victor De la Rocha
Author URI: http://www.mis-algoritmos.com
*/
/*Scott*/
div.pagination {
	padding:6px;
	margin:9px;
	text-align:center;
}

div.pagination a {
	font-size: 80%;
	padding: 4px 4px 4px 4px;
	margin-right: 2px;
	border: 1px solid #999999;

	text-decoration: none;
	color: #333333;
	font-weight:bold;
}
div.pagination a:hover, div.pagination a:active {
	border:1px solid #333333;
	color: #333333;
	background-color: #cccccc;
}
div.pagination span.current {
	padding: 4px 4px 4px 4px;
	margin-right: 2px;
	border: 1px solid #333333;
	font-weight: bold;
	background-color: #999999;
	color: #FFF;
}
div.pagination span.disabled {
	padding: 4px 4px 4px 4px;
	margin-right: 5px;
	border: 1px solid #f3f3f3;
	color: #ccc;
}