/*
Plugin Name: WP-Digg Style Paginator
Plugin URI: http://www.mis-algoritmos.com/2007/09/09/wp-digg-style-pagination-plugin-v-10/
Author: Victor De la Rocha
Author URI: http://www.mis-algoritmos.com
*/
/*Scott*/
div.pagination {
	padding:3px;
	margin:6px;
	text-align:center;

}

div.pagination a {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #ddd;

	text-decoration: none;
	color: #3f81af;
}
div.pagination a:hover, div.pagination a:active {
	border:1px solid #1e96bd;
	color: #256c84;
	background-color: #d6f1ff;
}
div.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #5dade0;
	font-weight: bold;
	background-color: #b2d7f2;
	color: #FFF;
}
div.pagination span.disabled {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #f3f3f3;
	color: #ccc;
}