.x-border-layout-ct {
    background-color: #FFFFFF;
}

h1 {
	/*text-decoration:underline;*/
        font-style: italic;
	margin-top: 6px; 
	margin-bottom: 0; 
	margin-left: 8px; 
	font-size: 12px; 
	color: #5E2605;
}

body {
   /* background-image:url('../images/background.jpg');*/
}


/* Ext JS panel header styling */
.x-panel-header-default-top{background-image:url('../images/panel-header/panel-header-default-top-bg.gif')}.x-nlg .x-panel-header-default-bottom{background-image:url('../images/panel-header/panel-header-default-bottom-bg.gif')}	
.x-panel-header-default{font-size:11px;line-height:15px;border-color:#ebe7e7;border-width:1px;border-style:solid;background-image:none;background-color:#2a2525;background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #332e2e), color-stop(45%, #2b2626), color-stop(46%, #151313), color-stop(50%, #151313), color-stop(51%, #1d1a1a), color-stop(100%, #2a2525));background-image:-webkit-linear-gradient(top, #332e2e,#2b2626 45%,#151313 46%,#151313 50%,#1d1a1a 51%,#2a2525);background-image:-moz-linear-gradient(top, #332e2e,#2b2626 45%,#151313 46%,#151313 50%,#1d1a1a 51%,#2a2525);background-image:-o-linear-gradient(top, #332e2e,#2b2626 45%,#151313 46%,#151313 50%,#1d1a1a 51%,#2a2525);background-image:-ms-linear-gradient(top, #332e2e,#2b2626 45%,#151313 46%,#151313 50%,#1d1a1a 51%,#2a2525);background-image:linear-gradient(top, #332e2e,#2b2626 45%,#151313 46%,#151313 50%,#1d1a1a 51%,#2a2525);-moz-box-shadow:#453d3d 0 1px 0px 0 inset;-webkit-box-shadow:#453d3d 0 1px 0px 0 inset;-o-box-shadow:#453d3d 0 1px 0px 0 inset;box-shadow:#453d3d 0 1px 0px 0 inset}
.x-panel-header-text-default{color:#FFFFFF;font-size:11px;font-weight:bold;font-family:tahoma, arial, verdana, sans-serif}
.x-tab-bar{background-color:transparent;background-image:none;background-color:#262626;background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #323131), color-stop(100%, #262626));background-image:-webkit-linear-gradient(top, #323131,#262626);background-image:-moz-linear-gradient(top, #323131,#262626);background-image:-o-linear-gradient(top, #323131,#262626);background-image:-ms-linear-gradient(top, #323131,#262626);background-image:linear-gradient(top, #323131,#262626)}


/* Toolbar style */
/*.x-toolbar-default{color:#ffffff;font-size:11px;line-height:15px;border-color:#ebe7e7;border-width:1px;border-style:solid;background-image:none;background-color:#2a2525;background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #332e2e), color-stop(45%, #2b2626), color-stop(46%, #151313), color-stop(50%, #151313), color-stop(51%, #1d1a1a), color-stop(100%, #2a2525));background-image:-webkit-linear-gradient(top, #332e2e,#2b2626 45%,#151313 46%,#151313 50%,#1d1a1a 51%,#2a2525);background-image:-moz-linear-gradient(top, #332e2e,#2b2626 45%,#151313 46%,#151313 50%,#1d1a1a 51%,#2a2525);background-image:-o-linear-gradient(top, #332e2e,#2b2626 45%,#151313 46%,#151313 50%,#1d1a1a 51%,#2a2525);background-image:-ms-linear-gradient(top, #332e2e,#2b2626 45%,#151313 46%,#151313 50%,#1d1a1a 51%,#2a2525);background-image:linear-gradient(top, #332e2e,#2b2626 45%,#151313 46%,#151313 50%,#1d1a1a 51%,#2a2525);-moz-box-shadow:#453d3d 0 1px 0px 0 inset;-webkit-box-shadow:#453d3d 0 1px 0px 0 inset;-o-box-shadow:#453d3d 0 1px 0px 0 inset;box-shadow:#453d3d 0 1px 0px 0 inset}
.x-toolbar-default{border:0}*/
