body {
	overflow: hidden;
	background: none repeat scroll 0% 0% #000;
	height: 100%;
}

.navbar {
	width: 100%;
	position: absolute;
	top: 0px;
	height: 68px;
}

.navbar .container {
	margin-left: 0px;
	float: left;
	width: 100%;
	border-bottom: thin solid #333;
	background: none repeat scroll 0% 0% #000;
}

.navbar .navbar-header {
	width: 100%;
	height: 68px;
}

.navbar .cudl-title {
	margin-top: 15px;
	padding-left: 30px;
	color: #ddd;
	/*font-family: Georgia,"Times New Roman",serif;
    font-weight: normal;
    font-size:1.8em;*/
	outline: 0;
	font-family: "myriad-pro", myriad, verdana, arial, sans-serif;
	font-weight: 300;
	font-size: 40px;
	line-height: 35px;
	text-rendering: optimizelegibility;
}

.navbar .cudl-title a {
	color: #ddd;
	text-decoration: none;
}

.navbar #cam-logo {
	padding-top: 18px;
}

.navbar #ul-logo {
	padding-top: 18px;
}

.breadcrumb {
	padding: 11px 15px;
	margin-bottom: 0px;
	background-color: #1E7680;
	border-radius: 0px;
}

.breadcrumb a {
	color: #fff;
}

.breadcrumb>.active {
	color: #ccc;
}

/************ Seadragon Image ******************/

#seadragonImage {
	width: 100%;
	height: 100%;
	top: 0px;
	bottom: 0px;
}

#doc {
	position: absolute;	
    top: 68px; 
	bottom: 0px;
	background-color: black;

	width: -moz-calc(50%);
	width: -webkit-calc(50%);
	width: calc(50%);

	/* For Safari 3.1 to 6.0 */
	-webkit-transition-property: width;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: linear;
	-webkit-transition-delay: 0s;
	/* Standard syntax */
	transition-property: width;
	transition-duration: 0.5s;
	transition-timing-function: linear;
	transition-delay: 0s;
}

.openseadragon-message {
	color: #fff;
}

/************ Seadragon Image Buttons ******************/
.cudl-viewer-buttons-pagination {
	z-index: 3000;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 20px;
	opacity: 0.9;
	transition: opacity 0.3s ease;
	width: 230px;
	color: #fff;
	text-align: center;
	display: block;
	text-shadow: 1px 1px #333;
}

.cudl-viewer-buttons-pagination input {
	color: #333;
}

.cudl-viewer-buttons-pagination:hover {
	opacity: 1;
}

.cudl-viewer-buttons-pagination .cudl-btn {
	margin: 4px;
}

.cudl-viewer-buttons-pagination input {
	text-align: right;
}

.cudl-viewer-buttons-pagination input:focus {
	opacity: 1;
}

#pageLabel {
	position: absolute;
	right: 10px;
	bottom: 5px;
	color: #fff;
	z-index: 3000;
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
}

.cudl-viewer-buttons-zoom {
	z-index: 30;
	position: absolute;
	left: 10px;
	bottom: 10px;
	opacity: 0.6;
	transition: opacity 0.3s ease;
}

.cudl-viewer-buttons-zoom:hover {
	opacity: 1;
}

.cudl-viewer-buttons-zoom .cudl-btn {
	margin: 4px;
}

.cudl-viewer-buttons-maximize {
	z-index: 30;
	position: absolute;
	right: 10px;
	top: 10px;
	opacity: 0.6;
	transition: opacity 0.3s ease;
}

.cudl-viewer-buttons-maximize:hover {
	opacity: 1;
}

.cudl-viewer-buttons-maximize .cudl-btn {
	margin: 4px;
}

.cudl-btn {
	border: 1px solid #a7a7a7;
	background: rgba(41, 41, 41, 0.8);
	border-radius: 4px;
	color: white;
	box-shadow: 0px 4px 5px 0 rgba(0, 0, 0, 0.35);
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.35);
	cursor: pointer;
	padding: 4px 5px;
	font-size: 14px;
	line-height: 14px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.cudl-btn:hover {
	border: 1px solid #5fb8ff;
}

.cudl-btn:active {
	background: #314d93;
}

/************ Information panel ******************/
#about-content {
	padding-left: 15px;
	width: 80%;
	margin-bottom: 15px;
}

.about-content-page {
	color: #999;
	font-size: 0.9em;
}

#right-panel {
	color: #000;
	position: absolute;
	height: 100%;
	right: 0px;
	top: 68px;
	width: -moz-calc(50%);
	width: -webkit-calc(50%);
	width: calc(50%);
	z-index: 5000;
	background-color: #eee;
	/* For Safari 3.1 to 6.0 */
	-webkit-transition-property: right;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: linear;
	-webkit-transition-delay: 0s;
	/* Standard syntax */
	transition-property: right;
	transition-duration: 0.3s;
	transition-timing-function: linear;
	transition-delay: 0s;
}

#right-panel-toggle {
	position: absolute;
	left: -30px;
	top: 44%;
	width: 32px;
	font-size: 30px;
	background-color: #fff;
	color: #000;
	border-left: 6px solid #fff;
	border-radius: 2px;
	z-index: 330;
	cursor: pointer;
}

#abouttab {
	margin-right: 30px;
	width: 100%;
}

#tab-content {
	background: #fff;
	width: 100%;
	height: 100%;
}

#contentstab {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}

#contentstab .list-group {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#zoomRights {
	color: #999;
	font-size: 0.8em;
}

#thumbnailstab {
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

#download {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

#download .copyright {
	color: #999;
	font-size: 0.8em;
	align:left;
	padding-top: 10px;
	padding-bottom: 10px;
	max-width:400px;
}

#download .btn {
	width: 160px;
	float:left;
}

.downloadpanel .button {
	width:160px;
	height:54px;
}

#metadatacontent {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: -20px;
	margin-right: 10px;
}

#metadatacontent ul {
	list-style: none;
}

/* transcriptions */
#transcriptionnorm, #transcriptiondiplo, #translation {
	height: 100%;
	width: 100%;
	background-color: #fff;
}

#transcriptionnormframe, #transcriptiondiploframe, #translationframe {
	height: 100%;
	width: 100%;
	border: 0px;
}

/* pop up confirmations */
#bookmarkConfirmation {
	width: 350px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	z-index: 9000;
	left: 0;
	right: 0;
	top: 200px;
	color: #000;
}

#bookmarkConfirmation .close {
	margin-top: -15px;
	margin-right: -10px;
}

#downloadConfirmation {
	width: 350px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	z-index: 9000;
	left: 0;
	right: 0;
	top: 200px;
	color: #000;
}

#downloadConfirmation .close {
	margin-top: -15px;
	margin-right: -10px;
}

/** Responsive Design Stuff **/
@media ( max-width :760px) {
	#cam-logo {
		margin-left: 20px;
	}
	#ul-logo {
		display: none;
	}
	.cudl-viewer-buttons-pagination {
		font-size: 1.2em;
		top:15px;
	}
	#nextPage {
		height: 34px;
		width: 34px;
		margin-top: 0px;
	}
	#prevPage {
		height: 34px;
		width: 34px;
	}
	.navbar .cudl-title {
		font-size: 30px;
		white-space: nowrap;

	}
	#right-panel {
	   width:90%;
	}
}

@media ( max-width :550px) {
	.cudl-viewer-buttons-pagination {
		margin-right: 20px;
	}
}

@media ( max-width :400px) {
	#cam-logo {
		display: none;
	}
	.cudl-viewer-buttons-pagination {
		margin-right: auto;
	}
}
/** End of Responsive **/