/* main pages style */
html {
	background: #ffffff url(/images/header/gradient.jpg) repeat-x;
}

ol#collections_carousel li {
	margin: 4px;
	height: 217px;
	width: 350px;
	font-style: normal;
	list-style: none outside none;
}
ol#vcollections_carousel li {
	margin: 4px;
	height: 217px;
	width: 550px;
	font-style: normal;
	list-style: none outside none;
}

.contibutors li {
	padding: 5px;
}

.terms li {
	padding: 5px;
}

/*.grid_9 {
	margin-left: 35px;
}*/
.bookSelectImage {
	position: relative;
	float: right;
	padding: 10px;
}

.container {
	background-color: #FFFFFF;
}

body {
	background: none;
}

#libraryLogo {
	margin-top: 3px;
	background: url("/images/header/ULLogowhite.gif") no-repeat right top;
	float: right;
	align: top;
	width: 130px;
	height: 42px;
}

.content {
	background-color: #FFFFFF;
	/*padding: 18px 0 0 0;*/
}

/*h3,h2,h1,h4 {
	line-height: 18px;
}*/

/* credit text for images, small */
.image-credit,.image-credit a {
	font-size: 8px;
	color: #999999;
	vertical-align: top;
	text-decoration: none;
	border: 0px;
	padding: 0px;
}

/* Header Styles */
/*#localMasthead h1,#localMasthead h1 a,#localMasthead h2,#localMasthead h2 a
	{
	color: #333333;
}*/

/*#localMasthead {
	height: 35px;
}

.grid_19 {
	margin-left: 35px;
}*/

/* Banner Image */
/*#localMasthead h2 {
	display: inline;
	vertical-align: top;
	margin-left: 10px;
	padding: 0px;
}

#localMasthead img {
	display: inline;
	vertical-align: top;
	margin-top: -10px;
	padding: 0px;
}*/
ol#index_carousel li {
	position: relative;
	float: left;
	margin: 4px;
	/*height: 390px;*/
	width: 540px;
	list-style: none outside none;
}

#index_carousel .panel {
	background: url("../images/index/grey.png") repeat scroll 0 0
		transparent;
	height: 374px;
	left: 0;
	padding: 10px;
	position: absolute;
	float: left;
	top: 0;
	width: 278px;
}

#index_carousel h4,h4 a,#index_carousel p {
	color: #ffffff;
}

#index_carousel a:link,#index_carousel a:visited,#index_carousel a:active
	{
	color: #ffffff;
}

ol#index_carousel li {
	height: 370px;
}

.footer a:link,.footer a:visited,.footer a:active {
	color: #FFFFFF;
	text-decoration: underline;
}

.collectionImage {
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: 0px;
}

.news {
	background: #eeeeee;
	color: #000000;
	margin-bottom: 15px;
	padding: 4px;
}

.news img {
	margin-left: auto;
	margin-right: auto;
}

.featured-item-list {
	background: #eeeeee;
	color: #000000;
	margin-bottom: 5px;
	height: 62px;
	padding: 14px;
}

.featured-item-list img {
	float:left;
	width:240px;
	height:62px;
}

.featured-item-list h4, .featured-item-list h4 a {
	position:absolute;
	margin-left: 5px;
	margin-top: 15px;
	color:#ffffff;
    text-shadow: 0.1em 0.1em 0.2em black;
	width:250px;
}

.foundations-link,.foundations-link a {
	color: #900;
}

.arabic {
	font-style: normal;
	margin-left: auto;
	margin-right: 0px;
	text-align:right;
}

#document-about-radio-link {
	font-weight: bold;
	color: #458be0;
}
#document-about-radio-link a {	
	font-weight: bold;
	color: #458be0;
}
#document-about-radio-icon-div {
	border: 3px;
	border-color: #000;
	font-weight: bold;
}

.helpBanner {
	margin-top:20px;
}
.helpBanner img {
	display:inline;
	margin-bottom: 0px;
	margin-top: 6px;
	height:10px;
}
.helpBanner a {
	align:left;
	font-size:1em;
	text-decoration: none;
	font-weight: bold; 
}
