/* main pages style */
html {
	background: #ffffff url(/images/header/gradient.jpg) repeat-x;
}

body {
	background: none;
}

.contibutors li {
	padding: 5px;
}

.terms li {
	padding: 5px;
}

.container {
	background-color: #FFFFFF;
}

#libraryLogo {
	margin-top: 3px;
	background: url("/images/header/ULLogowhite.gif") no-repeat right top;
	float: right;
	align: top;
	width: 130px;
	height: 42px;
}

.content {
	background-color: #FFFFFF;
}

#index_carousel_parent {
	height:400px;
	
}

ol#index_carousel li {
	position: relative;
	float: left;
	margin: 4px;
	/*height: 390px;*/
	width: 540px;
	list-style: none outside none;
}

#index_carousel .panel {
	background: url("../images/index/grey.png") repeat scroll 0 0
		transparent;
	height: 374px;
	left: 0;
	padding: 10px;
	position: absolute;
	float: left;
	top: 0;
	width: 278px;
}

#index_carousel h4,h4 a,#index_carousel p {
	color: #ffffff;
}

#index_carousel a:link,#index_carousel a:visited,#index_carousel a:active
	{
	color: #ffffff;
}

ol#index_carousel li {
	height: 370px;
}

#cookienotice {
    background: #eeeeee;
    color: #333333;
    padding:8px 0 8px 0;
    opacity: 0.8;
    position: fixed;
    bottom: 0;
    height:30px;
    z-index: 100;
    border-style:solid;
    border-width:1px;
    border-color: #333333;
}

#cookienotice input{
    background: #333333;	
	border-color: #ffffff;
	text-align: center;
    border-style:solid;
    border-width:1px;
    padding:4px;
    color:#ffffff;
}

/* Text for downtime message on main page */
.warning {
	border-color: #ffaaaa;
	text-align: center;
    border-style:solid;
    border-width:1px;
	margin-top:24px;
	background-color: #ffeeee; 
}


.footer a:link,.footer a:visited,.footer a:active {
	color: #FFFFFF;
	text-decoration: underline;
}

.collectionImage {
	margin-left: 0px;
	margin-right: 14px;
	float: left;
}

.collection {
	position: relative;
	background: #fff; /* for non-css3 browsers */
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#ffffff', endColorstr = '#ffffff' ); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff),
		to(#ffffff) ); /* for webkit browsers */
	background: -moz-linear-gradient(top, #ffffff, #ffffff);
	/* for firefox 3.6+ */
	padding: 14px;
	display: block;
	height: 150px;
}

.collection-science {
	background: #fff;
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#ffffff', endColorstr = '#ccd4ff' ); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff),
		to(#fff) ); /* for webkit browsers */
	background: -moz-linear-gradient(top, #ffffff, #fff);
	/* for firefox 3.6+ */
}

.collection-faith {
	background: #fff;
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#ffffff', endColorstr = '#ffffff' ); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff),
		to(#ffffff) ); /* for webkit browsers */
	background: -moz-linear-gradient(top, #ffffff, #ffffff);
	/* for firefox 3.6+ */
}

.featuredItem-text {
	width:200px;
}
.featuredItem-text a {
	text-decoration: none;
}

.featuredItem {
	position: relative;
	margin-left: 18px;
}

.featuredItem img {
	border-style: solid;
	border-width: 1px;
	border-color: #333;
}

.foundations-link-faith,.foundations-link-faith a {
	color: #8f7722;
	position: absolute;
	right: 4px;
	bottom: 0px;
	text-align: right;
	width: 200px;
	text-decoration: none;
}

.foundations-link-science,.foundations-link-science a {
	color: #324088;
	position: absolute;
	right: 4px;
	bottom: 0px;
	text-align: right;
	width: 200px;
	text-decoration: none;
}

#featuredCollections {
	background: #ffffff;
	color: #000000;
	float:right;
}

#featuredCollections img {
	margin-left: auto;
	margin-right: auto;
}

.featured-item-list {
	background: #eeeeee;
	color: #000000;
	margin-bottom: 0px;
	height: 62px;
	width: 240px;
	padding: 0px;
}

.featured-item-list img {
	float: left;
	width: 240px;
	height: 62px;
	margin-bottom: 0px;
}

.featured-item-list h4,.featured-item-list h4 a {
	position: absolute;
	margin-left: 5px;
	margin-top: 15px;
	color: #ffffff;
	text-shadow: 0.1em 0.1em 0.2em black;
	width: 250px;
}

.right-aligned-language {
	font-style: normal;
	margin-left: auto;
	margin-right: 0px;
	text-align: right;
}

#document-about-radio-link {
	font-weight: bold;
	color: #333;
}

#document-about-radio-link a {
	font-weight: bold;
	color: #333;
}

#document-about-radio-icon-div {
	border: 3px;
	border-color: #000;
	font-weight: bold;
}

#document-about-exhibition-link {
	font-weight: bold;
	color: #333;
}

#document-about-exhibition-link a {
	font-weight: bold;
	color: #333;
}

#document-about-exhibition-icon-div {
	border: 3px;
	border-color: #000;
	font-weight: bold;
}

.helpBanner {
	margin-top: 20px;
}

.helpBanner img {
	display: inline;
	margin-bottom: 0px;
	margin-top: 6px;
	height: 10px;
}

.helpBanner a {
	align: left;
	font-size: 1em;
	text-decoration: none;
	font-weight: bold;
}

.collectionOrganisationalImage {
	margin-left: 14px;
	margin-right: 0px;
	margin-bottom: 0px;
	float: right;
}

.collections_carousel {
	position: relative;
	display: block;
}

.grid_carousel ol {
	width: 900px;
}

.grid_carousel ol li {
	float: left;
	width: 450px;;
}

.collections_carousel_item {
	width: 100%;
	font-style: normal;
	position: relative;
	display: block;
}

ol#collections_carousel li {
	list-style: none outside none;
}

ol#search_carousel li {
	list-style: none outside none;
}

.search-facet-selected {
	background: #4376bb;
	padding:3px;
	width:233px;	
	border-style: solid;
	border-width: 1px;
	border-color: #999;
	position: relative;
	margin-top:5px;
	margin-bottom:5px;
	float:left;
	color:#ffffff;
}

.search-close {
    background: url("/img/search-close.png");
    cursor: pointer;
    height:  19px;
    position: absolute;
    right: -6px;
    top: -6px;
    width: 19px;
    z-index: 3;
}

/* Note the max height and width are set in jsp also */
.collections_carousel_image img {
	margin: auto;
	text-decoration: none;
    border: none;
    outline: none;	
}

.collections_carousel_image_box {
	float: right;
	width: 180px;
	height: 180px;
	margin-left: 14px;
	background: #000000;
	padding: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #333;
}

.collections_carousel_image {
	display: table-cell;
	vertical-align: middle;
	width: 180px;
	height: 180px;
}

.collections_carousel_text {
	padding: 5px;	
}

.morelink a:link, .morelink a:visited, .morelink a:active {
	color:#3a6c8f;
}
.lesslink a:link, .morelink a:visited, .morelink a:active {
	color:#3a6c8f;
}

ol#vcollections_carousel li {
	margin: 4px;
	height: 217px;
	width: 550px;
	font-style: normal;
	list-style: none outside none;
}

.faq ol {
	list-style: circle outside none;
}

.faq ol li {
	margin: 5px;
}

.terms ol {
	list-style: circle outside none;
}

.terms ol li {
	margin-top: -5px;
	margin-bottom: -5px;
	margin-left: 15px;
}

.virtual_collection_summary_image {
	position: relative;
	float: left;
	height: 250px;
	width: 230px;
}

.virtual_collection_summary {
	position: relative;
	margin: 5px;
	height: 500px;
	width: 920px;
	margin-bottom: 18px;
}

/* credit text for images, small */
.image-credit,.image-credit a {
	font-size: 0.8em;
	color: #999999;
	vertical-align: top;
	text-decoration: none;
	border: 0px;
	padding: 0px;
}

.search-result-snippet {
	font-size: 0.8em;
	color: #999999;
}

.search-result-imgcontainer {
	width: 180px;
	height: 180px;
	background: #000000;
	padding: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #333;
	display: table-cell;
	vertical-align: middle;
}

.search_results .page_navigation {
	margin:0px;
	float:right;
}

.clear {
	clear: both;
}

/* For pagination */
.page_navigation,.alt_page_navigation {
	padding-bottom: 10px;
	margin-bottom: 25px;
}

.page_navigation a,.alt_page_navigation a {
	background-color: #999;
	color: white;
	float: left;
	font-size: 12px;
	margin: 2px;
	padding: 3px 5px;
	text-decoration: none;
}

.active_page {
	background-color: white !important;
	color: black !important;
}

/* search on bar */

#navPrimary form {
    float: right;
    height: 36px;
    position: relative;
}

#navPrimary #search {
    background: none repeat scroll 0 0 white;
    color: #666666;
    font-family: Georgia,'Times New Roman',serif;
    font-size: 13px;
    font-style: italic;
    padding: 5px 5px;
    position: absolute;
    top: 5px;
    right: 4px;
    width: 230px;
    z-index: 2;
}

#navPrimary #submit {
    background: url("../img/sprite.png") no-repeat scroll -768px -17px transparent;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    overflow: hidden;
    position: absolute;
    right: 10px;
    text-indent: -9999px;
    top: 9px;
    width: 16px;
    z-index: 3;
}

#navPrimary input {
    margin-right: 2px;
}

/* search on other page */
.search #search {
    background: none repeat scroll 0 0 white;
    color: #666666;
    font-family: Georgia,'Times New Roman',serif;
    font-size: 13px;
    font-style: italic;
    padding: 5px 5px;
    position: absolute;
    top: 5px;
    right: 4px;
    width: 230px;
    z-index: 2;
}

.search #submit {
    background: url("../img/sprite.png") no-repeat scroll -768px -17px transparent;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    overflow: hidden;
    position: absolute;
    right: 10px;
    text-indent: -9999px;
    top: 9px;
    width: 16px;
    z-index: 3;
}

.search input {
    margin-right: 2px;
}

/* Search box on search results page */
.searchform form {
    margin-left: auto;
    margin-right: auto;
    height: 36px;
    position: relative;
}

/* search on search results page */
.searchform .search {
    background: none repeat scroll 0 0 white;
    color: #666666;
    font-family: Georgia,'Times New Roman',serif;
    font-size: 13px;
    font-style: italic;
    padding: 5px 5px;
    position: absolute;
    top: 0px;
    width: 230px;
    z-index: 2;
	border-style: solid;
	border-width: 1px;
	border-color: #999;
	font-weight:bold;   
}

/* search style text - for examples on search results page */
.searchexample .search {
    background: none repeat scroll 0 0 white;
    color: #666666;
    font-family: Georgia,'Times New Roman',serif;
    font-size: 13px;
    font-style: italic;
    padding: 3px 3px;
	border-style: solid;
	border-width: 1px;
	border-color: #ccc;
	font-weight:bold;   
}
.searchexample {
	line-height: 25px;
}

.searchform #submit {
    background: url("../img/sprite.png") no-repeat scroll -768px -17px transparent;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    overflow: hidden;
    position: absolute;
    right: -10px;
    text-indent: -9999px;
    top: 5px;
    width: 16px;
    z-index: 3;
}


