/*
	Tree Styler 	 
*/

/* Avoid extra spaces in ie */

#tree li {
	float:left;
	display:inline;
}

#tree, #tree ul, #tree li span{
	margin:0;
	padding:0;
	list-style:none;
}

#tree ul{
	display:none;
}

/* first level */
#tree li {
	line-height:200%;
	margin-top:1px;
	background:#eee;
	position:relative;
	width:100%;
}
#tree li {padding-left:3px;margin-right:3px}
#tree li span{float:left;position:absolute;top:5px;left:-13px;width:13px;height:13px;cursor:auto;font-size:0;}
#tree li span, #tree li span.collapsed{background:url(/img/collapsed.gif) no-repeat 0 0;} 
#tree li span.expanded{background:url(/img/expanded.gif) no-repeat 0 0;}

/* second level */
#tree li li{
	background:#fff;
}
#tree li li a{padding-left:0px;margin-right:5px}
#tree li li span{left:0px;}

/* third level */
#tree li li li a{padding-left:84px;}
#tree li li li span{left:56px;}

