<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-4.1.xsd">

    <!-- Use properties from global-properties in our bean arg placeholders
         or @Value annotations. -->
    <context:property-placeholder location="classpath:cudl-global.properties"/>

    <!-- Resolve spring beans defined using java annotations.
         Currently only the frontend package is scanned. Autowiring other beans
         will fail currently as most beans are not defined the root context
         which this operates in, rather they're defined in servlet specific
         contexts, so some beans don't resolve. -->
    <context:component-scan
            base-package="ulcambridge.foundations.viewer.frontend" />
</beans>
