<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>Foundations Viewer</display-name>
    <description>
    </description>

    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <!-- All the JSP templates should be UTF-8. -->
            <page-encoding>UTF-8</page-encoding>
            <!--
                Disable scriptlets in JSP files. Scriptlets aren't allowed
                inside custom tags anyway, and their use is discouraged since
                EL became available in JSP 2.

                These may be informative:
                 - http://stackoverflow.com/questions/3177733/how-to-avoid-java-code-in-jsp-files
                 - http://stackoverflow.com/questions/1296235/jsp-tricks-to-make-templating-easier
            -->
            <scripting-invalid>true</scripting-invalid>
            <trim-directive-whitespaces>true</trim-directive-whitespaces>

            <!--
            Buffer size here is very important. All JSP pages (except error
            pages) set autoFlush to false, which means that the rendered HTML
            must fit within this buffer size, otherwise an error will be raised.

            The reason for this is that if a JSP page is flushed as it's
            rendered, errors that occur after the first flush cause the
            rendering to stop. The client gets an incomplete page, and because
            the response has already been started, the status is still HTTP 200.

            Tomcat recommends disabling autoFlush when only complete page
            content is acceptable:
            https://tomcat.apache.org/tomcat-9.0-doc/jspapi/javax/servlet/jsp/JspWriter.html

            Error pages do use autoFlush in an attempt to ensure error pages are
            always rendered.
            -->
            <buffer>256kb</buffer>
        </jsp-property-group>
    </jsp-config>

    <!-- mime types are required or the mvc:resources fails to ignore them -->
    <mime-mapping>
        <extension>json</extension>
        <mime-type>application/json</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>glsl</extension>
        <mime-type>application/x-glsl</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>dzi</extension>
        <mime-type>text/xml</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>ttf</extension>
        <mime-type>application/octet-stream</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>eot</extension>
        <mime-type>application/octet-stream</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>woff</extension>
        <mime-type>application/x-font-woff</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>map</extension>
        <mime-type>application/json</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>ico</extension>
        <mime-type>image/x-icon</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>css</extension>
        <mime-type>text/css</mime-type>
    </mime-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/errors/404.html</location>
    </error-page>

    <error-page>
        <error-code>400</error-code>
        <location>/errors/404.html</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/errors/500.html</location>
    </error-page>

    <session-config>
        <session-timeout>240</session-timeout>
    </session-config>
</web-app>
