<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>Foundations Viewer</display-name>
    <description>
    </description>

    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <!-- All the JSP templates should be UTF-8. -->
            <page-encoding>UTF-8</page-encoding>
            <!--
                Disable scriptlets in JSP files. Scriptlets aren't allowed
                inside custom tags anyway, and their use is discouraged since
                EL became available in JSP 2.

                These may be informative:
                 - http://stackoverflow.com/questions/3177733/how-to-avoid-java-code-in-jsp-files
                 - http://stackoverflow.com/questions/1296235/jsp-tricks-to-make-templating-easier
            -->
            <scripting-invalid>true</scripting-invalid>
        </jsp-property-group>
    </jsp-config>
</web-app>
